[Unit]
Description=pinto uploader container
Author=Avast Viruslab Systems
After=pinto.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill pinto_uploader
ExecStartPre=-/usr/bin/docker rm pinto_uploader
ExecStartPre=/usr/bin/docker pull avastsoftware/pinto_uploader
ExecStart=/usr/bin/docker run --name pinto_uploader -v /var/lib/pinto:/var/lib/pinto -p3111:3111 avastsoftware/pinto_uploader

[Install]
WantedBy=multi-user.target
